.product_cart {
  -webkit-box-shadow: 0px 0px 10px -4px rgba(66, 66, 66, 0.75);
  -moz-box-shadow: 0px 0px 10px -4px rgba(66, 66, 66, 0.75);
  box-shadow: 0px 0px 10px -4px rgba(66, 66, 66, 0.75);
}
.product_cart img {
  width: 100% !important;
}
.product_cart .images {
  width: 10%;
  display: inline-block;
}
.product_cart .information {
  width: 40%;
  display: inline-block;
}
.product_cart .price_cart {
  width: 20%;
  display: inline-block;
}
.product_cart .actions_cart {
  width: 20%;
  display: inline-block;
}
.product_cart .delete_items {
  color: red;
  font-size: 20px;
  cursor: pointer;
}
.product_content_desktop .plus_items {
  transition: background-color 0.5s;
  width: 20px;
  border-radius: 100%;
  padding: 10px;
  z-index: 100000;
  position: relative;
  bottom: 20%;
  right: 20px;
  background-color: rgb(196, 223, 199);
  box-shadow: none;
}
.product_content_desktop .plus_items:hover {
  transition: background-color 0.5s;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px -4px rgba(66, 66, 66, 0.75);
  -moz-box-shadow: 0px 0px 10px -4px rgba(66, 66, 66, 0.75);
  box-shadow: 0px 0px 10px -4px rgba(66, 66, 66, 0.75);
  cursor: pointer;
}

.agotado {
  filter: blur(1px);
  z-index: 100000 !important;
  pointer-events: none;
  opacity: 0.9;
}
.aviso_agotado {
  font-size: 20px;
  line-height: 2px;
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content_pages {
  margin-bottom: 50px;
}

.discount_items {
  width: 20px;
  border-radius: 100%;
  padding: 20px;
  z-index: 100000;
  background: #e62f2f;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
  color: white;
  z-index: 2;
  position: relative;
  left: 50%;
}
